extends layout

block content
  .jumbotron
        h1 Members Area
        p.lead
          | This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.
        a.btn.btn-lg.btn-primary(href='#', role='button') Button